<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
       @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
      * {
        font-family: Rubik, sans-serif;
        font-size: 36px;
      }
      html,
      body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
      }
      button {
        padding: 10px 28px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <button onclick="r('start');">START</button>
    <button onclick="r('stop');">STOP</button>
    <button onclick="r('alert');">ALERT</button>
    <div id="pl"></div>
    <script>
      setInterval(function () {
          var httpRequest = new XMLHttpRequest();
          var pl = document.getElementById("pl");
          httpRequest.overrideMimeType('text/plain');
          httpRequest.onreadystatechange = function() {
            if (httpRequest.readyState == 4) {
              pl.innerHTML = httpRequest.responseText;
            }
          }
          httpRequest.open('GET', '/api/list', true);
          httpRequest.send(null);
        }, 100);
      function r(m) {
          var httpRequest = new XMLHttpRequest();
          httpRequest.overrideMimeType('text/plain');
          httpRequest.onreadystatechange = function() {};
          httpRequest.open('GET', '/api/' + m, true);
          httpRequest.send(null);
        }
    </script>
  </body>
</html>
