<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
       @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
      * {
        font-family: Rubik, sans-serif;
        font-size: 36px;
      }
      html,
      body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <button onclick="r('start');">START</button>
    <button onclick="r('stop');">STOP</button>
  </body>
</html>
